.navbar {
  width: 100vw;
  height: 70px;
  position: fixed;
  z-index: 300;
  transition: 0.4s ease;
  display: flex;
  margin: 0;
}

.navbar-fill {
  background-color: rgb(40, 40, 40);
  transition: 0.4s ease;
}

.navbar-title {
  color: white;
  font-family: SF-Pro-Bold;
  animation: FadeIn 2s ease forwards;
  letter-spacing: 2px;
  padding-left: 35px;
  padding-right: 35px;
  cursor: pointer;
  transition: 0.2s ease;
}

.navbar-title:hover {
  transform: scale(1.05, 1.05);
  transition: 0.2s ease;
}

.navbar-title:active {
  transform: scale(0.95, 0.95);
  transition: 0.1s ease;
}

.navbar-links-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: SF-Pro-Bold;
  animation: FadeIn 3s ease forwards;
}

.navbar-link {
  color: white;
  opacity: 0.5;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  letter-spacing: 2px;
  border-radius: 7px;
  transition: 0.2s ease;
  padding: 5px;
  padding-left: 7px;
  padding-right: 7px;
  border: solid 2px rgba(0, 0, 0, 0);
}

.navbar-link:hover {
  opacity: 1;
  transform: scale(1.1, 1.1);
  transition: 0.2s ease;
  border: solid 2px rgba(255, 255, 255, 0.4);
}

.navbar-link:active {
  transform: scale(0.9, 0.9);
  transition: 0.1s ease;
}

.navbar-overlay-link {
  font-family: SF-Pro-Light;
  color: white;
  opacity: 0.5;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  letter-spacing: 3px;
  border-radius: 7px;
  transition: 0.2s ease;
  padding: 5px;
  padding-left: 7px;
  padding-right: 7px;
  border: solid 2px rgba(0, 0, 0, 0);
  font-size: 20px;
}

.navbar-overlay-link:hover {
  opacity: 1;
  transform: scale(1.1, 1.1);
  transition: 0.2s ease;
  border: solid 2px rgba(255, 255, 255, 0.4);
}

.navbar-overlay-link:active {
  transform: scale(0.9, 0.9);
  transition: 0.1s ease;
}

.navbar-mobile-toggle {
  color: white;
  font-size: 22px;
  margin-right: 25px;
  transition: 0.2s ease;
  animation: FadeIn 3s ease forwards;
}

.navbar-mobile-toggle i {
  opacity: 0.4;
  transition: 0.2s ease;
}

.navbar-mobile-toggle i:hover {
  opacity: 1;
  transform: scale(1.2, 1.2);
  cursor: pointer;
  transition: 0.2s ease;
}

.navbar-mobile-toggle:active {
  transform: scale(0.8, 0.8);
  transition: 0.1s ease;
}

.navbar-overlay {
  position: fixed;
  z-index: 400;
  top: 0;
  right: -100vw;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease;
  background-color: rgb(40, 40, 40);
}

.navbar-overlay-displaying {
  right: 0;
  transition: 0.5s ease;
}

.navbar-overlay-collapse {
  position: absolute;
  top: 35px;
  right: 35px;
  color: white;
  font-size: 25px;
  opacity: 0.4;
  transition: 0.2s ease;
  cursor: pointer;
}

.navbar-overlay-collapse:hover {
  opacity: 1;
  transform: scale(1.2, 1.2);
  transition: 0.2s ease;
}

.navbar-overlay-collapse:active {
  transform: scale(0.9, 0.9);
  transition: 0.1s ease;
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes ShrinkIn {
  0% {
    transform: scale(1.3, 1.3);
  }
  100% {
    transform: scale(1, 1);
  }
}
